@using BusarovsQuckBite.Models.Enums
@model AdministrationAllViewModel
<div class="d-flex justify-content-center">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        @for (int i = 0; i < Model.FilterOptions.Count; i++)
        {
            <li class="nav-item me-5" role="presentation"> 
                @Html.ActionLink(Model.FilterOptions[i].Value, "Index", "Administration", new { keyword = Model.FilterOptions[i].Value }, new { @class = "nav-link btn btn-lg px-5 " + (ViewBag.Keyword.ToString() == Model.FilterOptions[i].Value ? "active" : "") })
            </li>
        }
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <table class="table">
            @{
                await Html.RenderPartialAsync("_UsersPartialHeader");
            }
            <tbody>
            @foreach (var entity in Model.AdministrationDataModel)
            {
                await Html.RenderPartialAsync("_DataPartial", entity);
            }
            </tbody>
        </table>
    </div>
</div>
<div style="margin-top: 20px;"></div>
@Html.ActionLink("Back To Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
@{
    await Html.RenderPartialAsync("_PagingPartial");
    await Html.RenderPartialAsync("_MessagePartial", TempData);
}