@model ChangeUserPasswordViewModel
<form asp-controller="Manage" asp-action="ChangePassword" asp-area="AccountManager" method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label >Old Password</label>
            <input type="password" class="form-control" asp-for="OldPassword" placeholder="Old Password" required>
        </div>
        <div class="col-md-4 mb-3">
            <label>New Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="New Password" required>
        </div>
        <div class="col-md-4 mb-3">
            <label>Confirm New Password</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm New Password" required>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
<div style="margin-top: 20px;"></div>
@{
    await Html.RenderPartialAsync("_MessagePartial", TempData);
}
