@using Microsoft.AspNetCore.Identity
@using BusarovsQuckBite.Data.Models
@using BusarovsQuckBite.Services
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <span class="navbar-text">Welcome, @UserManager.GetUserAsync(User).Result.UserName!</span>
        </li>
        <li class="nav-item">
            <form asp-area="AccountManager" asp-action="Logout" asp-controller="Users" method="post" class="form-inline">
                <button type="submit" class="btn btn-link navbar-btn">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="AccountManager" asp-controller="Users" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="AccountManager" asp-action="Register" asp-controller="Users">Register</a>
        </li>
    </ul>
}
