@model OrderUserViewModel
<td>@(Model.DeliveryAddress.City + " " + Model.DeliveryAddress.Street)</td>
<td>@Model.OrderPlacedDate</td>
<td>@Model.OrderStatus</td>
<td>@Model.PaymentType</td>
<td>

    @using (Html.BeginForm("TrackOrder", "Orders", new { Id = Model.Id }, FormMethod.Get))
    {
        <button type="submit" class="btn btn-secondary">
            <i class="fa-solid fa-truck-fast"></i>
            Track Order
        </button>
    }
</td>
@{
    await Html.RenderPartialAsync("_ModalOrderDetailsPartial", Model);
}