@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductViewModel>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to QuickBite!</h1>
            <p class="lead text-muted">Here we deliver the best fast food that you wouldn't feel guilty about Eating! Make an account and order on the minute!</p>
            <p class="lead text-muted">Take a look at our top @(Model.Count > 0 ? Model.Count : "") foods and see if it suits your taste!</p>
            @Html.ActionLink("Click Here to see the whole menu", "All", "Menu", new { }, new { @class = "btn btn-success" })
        </div>
    </div>
</section>
@{
    await Html.RenderPartialAsync("_MessagePartial", TempData);
}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in Model)
            {
                await Html.RenderPartialAsync("_HomePageItemsPartial", product);
            }
        </div>
    </div>
</div>