<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Not Found</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">The resource you are looking for doesn't exist. Please try again</p>
                </div>
                <div class="card-footer bg-transparent border-danger text-right">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>