@model List<AddressViewModel>
<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Street</th>
            <th>Action</th>
            <th>Activity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                @{
                    await Html.RenderPartialAsync("_AddressDataPartial", entity);
                }
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add New", "AddAddress", "Address", new { }, new { @class = "btn btn-success" })
@Html.ActionLink("Back To Home", "Index", "Home", new { }, new { @class = "btn btn-primary" })
<div style="margin-top: 20px;"></div>
@{
    await Html.RenderPartialAsync("_MessagePartial", TempData);
}