<h1>Manage your account</h1>
<hr/>
@model UserAllInfoViewModel
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link @(Model.ActiveTab == "Profile" ? "active" : "")" id="Profile-tab" data-bs-toggle="tab" data-bs-target="#Profile" type="button" role="tab" aria-controls="Profile" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link @(Model.ActiveTab == "ChangePassword" ? "active" : "")" id="ChangePassword-tab" data-bs-toggle="tab" data-bs-target="#ChangePassword" type="button" role="tab" aria-controls="ChangePassword" aria-selected="false">Change Password</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane @(Model.ActiveTab == "Profile" ? "show active" : "fade")" id="Profile" role="tabpanel" aria-labelledby="Profile-tab">
        <div style="margin-top: 20px;"></div>
        @{
            await Html.RenderPartialAsync("_UpdatePersonalData", Model.UpdateUserDataViewModel);
        }
    </div>
    <div class="tab-pane @(Model.ActiveTab == "ChangePassword" ? "show active" : "fade")" id="ChangePassword" role="tabpanel" aria-labelledby="ChangePassword-tab">
        @{
            await Html.RenderPartialAsync("_ChangeUserPassword", Model.ChangeUserPasswordViewModel);
        }
    </div>
</div>