@model List<CategoryViewModel>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" asp-action="All" asp-controller="Category" asp-route-keyword="All">All Categories</a>
            <a class="nav-item nav-link" asp-action="All" asp-controller="Category" asp-route-keyword="Active">Active Categories</a>
            <a class="nav-item nav-link" asp-action="All" asp-controller="Category" asp-route-keyword="Deleted">Deleted Categories</a>
        </div>
    </div>
</nav>
<div class="container" id="listing">
    <h3>@ViewBag.Category</h3>
    <a href="#" class="btn btn-primary"><i class="fa-regular fa-circle-check"></i> Add New Category</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Date of Creation</th>
            <th>Category Creator</th>
            <th>Category Status</th>
            <th>Category Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var kvp in Model)
        {
            <tr>
                @{
                    await Html.RenderPartialAsync("_CategoryDataPartial", kvp);
                }
            </tr>
        }
       
        </tbody>
    </table>
</div>
@Html.ActionLink("Back To Home", "Index", "Home", new { }, new { @class = "btn btn-primary" })
@{
    if (TempData["Failed"] != null)
    {
        <div class="alert alert-danger errorMessageToHide" role="alert">
            @TempData["Failed"]
        </div>
    }
}