@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProductViewModel>
@{
    await Html.RenderPartialAsync("_MessagePartial", TempData);
}
<form asp-controller="Menu" asp-action="Search" method="get" class="mt-3">
    <div class="row">
        <div class="col-sm-8">
            <input type="text" name="name" class="form-control" placeholder="Search by name,category,description...">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>
    </div>
</form>
<form asp-controller="Menu" asp-action="ClearFilter" method="get" class="mt-3">
    <div class="row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-block"> <i class="fa-solid fa-list"></i> Clear Filter</button>
        </div>
    </div>
</form>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in Model)
            {
                await Html.RenderPartialAsync("_HomePageItemsPartial", product);
            }
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_MenuPagingPartial");
}